# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual environment
.venv
virtualenv/
env/

# Secrets - NEVER commit these!
*.json
*.env

# Temporary and log files
cached_photos/
logs/
temp/
*.ogg

# IDE / Editor specific files
.idea/
.vscode/
*.swp
